.card {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 500px;
    color: black;
}

.title {
    font-weight: bold;
    padding: 10px 3px;

}

.content {
    background-color: white;
    color: black;
    padding: 10px 3px;
    margin: 4px;
    border-radius: 0px 0px 10px 10px;
}

p {
    padding: 5px;
}

button {
    padding: 5px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}